<div class="navbar-wrapper">
<h4 class="navbar-brand">
    <a class="brand brand-font" href="{{ site.baseurl }}/">{{ site.title }}</a><br>
    {% if site.subtitle %}<div class="subtitle">{{ site.subtitle }}</div>{% endif %}
</h4>

<div class="clearfix">
    <div class="navbar-right">
        <a href="http://hartlandrobotics.org" title="home"><img class="logo" src="{{ site.baseurl }}/assets/WhiteEagleBlueBackground.png" /></a>
    </div>
    <div class="navbar-right">
        <ul class="nav navbar-nav" id="social-media">
            <li><a href="https://twitter.com/frc3536" target="__twitter" title="twitter"><i class="fa fa-twitter-square fa-2x"></i></a></li>
            <li><a href="https://www.facebook.com/frchartland.org" target="__facebook" title="facebook"><i class="fa fa-facebook-square fa-2x"></i></a></li>
        </ul>
    </div>
</div>
</div>
