<div class="navbar-brand">
  <h1><a class="brand brand-font" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
 {% if site.subtitle %}
    <h2 class="subtitle">{{ site.subtitle }}</h2>
  {% endif %}
</div>

<div class="clearfix">
    <div class="navbar-right">
        <a href="{{ site.baseurl }}/" title="home"><img class="logo" src="{{ site.baseurl }}/assets/WhiteEagleBlueBackground.png" /></a>
    </div>
    <div class="navbar-right">
        <ul class="nav navbar-nav" id="social-media">
            <li><a href="https://twitter.com/frc3536" target="__twitter" title="twitter"><i class="fa fa-twitter-square fa-2x"></i></a></li>
            <li><a href="https://github.com/HartlandRobotics/ArduinoIntroduction/" target="__github" title="github"><i class="fa fa-github-square fa-2x"></i></a></li>
        </ul>
    </div>
</div>
