<h4 class="navbar-brand">
    <a class="brand" href="{{ site.baseurl }}/">{{ site.title }}</a><br>
    {% if site.subtitle %}<small>{{ site.subtitle }}</small>{% endif %}
</h4>

<div class="clearfix">
    <div class="navbar-right">
        <a href="{{ site.baseurl }}/" title="home"><img class="logo" src="{{ site.baseurl }}/assets/nodebot.robot.png" /></a>
    </div>
    <div class="navbar-right">
        <ul class="nav navbar-nav" id="social-media">
            <li><a href="https://twitter.com/nodebots_cm" target="__twitter" title="twitter"><i class="fa fa-twitter-square fa-2x"></i></a></li>
            <li><a href="https://github.com/CareEvolution/nodebots-unleashed-codemash-docs/" target="__github" title="github"><i class="fa fa-github-square fa-2x"></i></a></li>
        </ul>
    </div>
</div>
